@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

body {
	margin: 0;
}

/* Main */
#container {
	padding: 20px;
}

.mainImageBox {
	width: 100%;
	background-color: rgba(248, 247, 241, 0.3);
	margin: auto;
	overflow: hidden;
}

.mainImage img{
	display: block;
	width: 50vw;
	margin: 1px auto 40px;
}

.welcomeHdr {
	text-align: center;
}

.welcomeHdr h2{
	margin-bottom: 5px;
	
}
.welcomeHdr h4 {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: grey;
	margin-top: 1px;
	text-decoration: underline;
}

.welcomeBlurb {
	font-family: Arial, Helvetica, sans-serif;
}

.badgeImage {
	margin: 0 auto;
	width: 110px;
}

/* Nav Bar */
.nav-component {
	display: flex;
	background-color: rgb(23, 61, 87);
	height: 64px;
	padding: 0px 20px;
}

.glassdale-pd {
	padding-top: 14px;
}

.glassdale-pd a{
	font-family: Patua One, serif;
	font-weight: normal;
	font-size: 24px;
	text-decoration: none;
	color: white;
}

#navBar {
	background-color: rgb(23, 61, 87);
	overflow: hidden;
	height: 64px;
	font-weight: bold;
}

#navBar ul {
	padding-left: 20px;
}

#navBar li {
	list-style-type: none;
	float: left;
	
}

#navBar li a {
	color: white;
	text-decoration: none;
}

#navBar li a:hover {
	background-color: goldenrod;
	color: black;
	padding:30px 0;
}

.navLink {
	margin-top: 10px;
	font-size: 14px;
	padding: 0px 20px 2px 0px;
}

.home-link li a:hover {
	background-color: white;
	color: black;
}

/* Convictions & Officer Drop-down Menu */
.filterMenuContainer {
	display:flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
}

#crimeSelect, #OfficerSelect {
	height: 24px;
	width: 35vw;
	font-size: 12px;
}
.convictionsName {
	text-transform: capitalize;
}

/* Criminals List */
#criminals-list-container {
	border: 1px solid purple
}
.criminals-list {
	display:flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	flex-direction: row;
}

.criminals-list-card {
	border: 1px solid gray;
	width: 35vw;
	padding: 5px;
	margin: 5px;
}

.criminalsName {
	font-size: 14px;
	color: darkred;
	font-weight: bold;
}

.criminalsAge, .eyeColor, .conviction, .termStart, .termEnd, .arrestingOfficer {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.convictionName {
	font-weight: bold;
	text-transform: uppercase; 
}

/* Officers List */
#officers-list-container {
	border: 1px solid blue;
} 

.officers-list{
	display:flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	flex-direction: row;
}

.officers-list-card {
	display: flex;
	background-color: rgb(41, 84, 112);
	color: white;
	width: 40vw;
	padding: 5px;
	margin: 5px;
}

.officerImg img {
	background: lightskyblue;
	width: 70px;
	height: 80px;
	vertical-align: middle;
	overflow: hidden;
	margin:7px;
}

.officerName {
	font-size: 15px;
	padding:10% 10px 10%;
}

.officerYrs {
	font-size: 14px;
	font-style: italic;
}

/* Facility List */
#facility-list-container {
	border: 1px solid purple
}
.facility-list {
	display:flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	flex-direction: row;
}

.facility-list-card {
	border: 1px solid gray;
	width: 30vw;
	padding: 5px;
	margin: 5px;
}

.facilityName {
	font-size: 14px;
	color: darkolivegreen;
	font-weight: bold;
}

.facilityLevel, .facilityCapacity {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Note List */
.note-form {
	margin-top: 20px;
	border: 2px dashed orange;
}

.note-form h2{
	margin-top: 0px;
}

.note-form-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
	width: 70vw;
}

#note-date {
	width: 40vw;
	height: 30px;
	font-size: 12px;
	padding: 0px 5px;
}

#note-suspect-name, #noteForm--criminal {
	font-size: 12px;
	padding: 5px;
}

#note-text {
	height: 10vh;
	font-size: 12px;
	padding: 5px;
	vertical-align: top;
}

.saveNoteBtn {
	background-color: goldenrod;
	border: none;
	color: white;
	width: 150px;
}

.note-form-container button:hover {
	background-color: rgb(23, 61, 87);
}

.note-past-list-container {
	border-top: 1px dotted grey;
}

.note-past-list-container h3{
	margin-bottom: 4px;
}

.note-past-list ul {
	list-style: none;
	padding-left: 0px;
}

.note-past-list {
	border-top: 1px dotted grey;
	padding-top: 1px;
	margin-bottom: 30px;
}

.notePastHeaderBox {
	display: flex;
	align-items: baseline;
}
.notePastDateSuspect {
	width: 70%;
	margin-left: 0px;
}

.notePastBtns button {
	border: none;
	background-color: gray;
	color: white;
	font-size: 10px;
	height: 24px;
	padding: 3px 8px 2px;
	margin: 0px 7px 1px;
}

.notePastBtns button:hover {
	background-color: rgb(134, 105, 32);
	color: white;
}

.notePastBtns {
	display: flex;
	justify-content: flex-end;
	height: 24px;
	width: 30%;
	margin-right: 0px;
	margin-left: 0px;
}

.noteEditFormContainer {
	border: 4px double goldenrod;
	padding-left: 20px;
	padding-right: 20px;
}

/* practice example button */
/* .dark-background{
	background-color: #2b362e;
	color: #fafcfb;
  } */


/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgba(23, 61, 87);
	/* background-color: rgb(151, 125, 78); */
    margin-top: 30px;
    
    /* box-shadow: 0px -10px 20px rgb(189, 189, 189); */
}

.footerBG {
	/* background-image: url('https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');*/
	/* background-position: center top; */
	/* opacity: 0.5;*/
	background: linear-gradient(rgba(23, 61, 87, 0.6), rgba(23, 61, 87, 0.95)), url('https://c4.wallpaperflare.com/wallpaper/885/452/864/wireframe-low-poly-geometry-abstract-wallpaper-preview.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(23, 61, 87);
	padding: 30px 20px 20px 20px;
}

footer p{
    font-size: 14px;
    text-align: center;
    color: white;
    /* padding-top: 10px; */
}

footer a{
    color: white;
}

footer a:hover{
    color: goldenrod;
	font-weight: bold;
}

footer img{
    display: block;
    width: 90px;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 20px;
}

.footerBlurb {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding-top: 0px;
	margin-top: 0px;
}

.emptyDivSpacer {
	height: 150px;
}
  

  @media only screen and (max-width: 500px) {
	/* Nav Bar */
	.nav-component {
		background-color: rgb(23, 61, 87);
		width: 100%;
	}

	.glassdale-pd {
		padding-right: 10px;
		padding-top: 18px;
		width: 30vw;
	}

	.glassdale-pd a {
		font-size: 18px;
	}

	#navBar {
		background-color: rgb(23, 61, 87);
	}

	#navBar ul {
		padding-left: 10px;
	}

	.navLink {
		font-size: 11px;
		margin-top: 14px;
	}

	/* Officers List */
	.officers-list-card {
		width: 80vw;
		padding: 5px;
		margin: 5px;
	}

  }